{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-black my-5" style="text-transform:uppercase">Get a quote</h1>
                <h2 class="text-black">Describe the design you need</h2>
               <p>Please provide as much information as possible about your business / product / service.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-12 bg-white h-100">
        <div class="row w-100">
            <div class="container text-black py-5">

                <form method="GET" action="" class="signup-form">
                
                <label for="fname">Name of your project</label>
                <input id="fname" class="text-input" name="first_name" type="text" required>

                <label for="service">Choose a service:</label>
                <select id="service" class="text-input" name="service" required>
                  <option value="print-publishing">Print & publishing designs</option>
                  <option value="website">Website design</option>
                  <option value="illustration">Illustration design</option>
                  <option value="full-package">Full package design</option>
                </select>

                <br><br>
                <label for="comment">Description:</label>
                <textarea id="comment" class="text-input" name="comment" type="text" style="height:100px; color:grey">Example: “Our company is named _ and is based in _ . We provide _ to our consumers and we need a new (type of service). We would like the design to be _ and to communicate (values).
                </textarea>
                
                <label for="email">Email Address</label>
                <input type="email" class="text-input" id="email" name="email_address" required>
                <br><br>
                <input class="btn btn-lg centered-button rounded-0" type="submit" value="Next">

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

{% endblock %}