{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="header-black my-5" style="text-transform:uppercase">Get a quote</h1>
                <h2 class="header-black">Please select a type of service and a package</h2>
                <p>
                bronze package: £30<br>
                - 3 different design choices for each product<br>
                - Up to 3 revisions<br>
                - £5 unrefundable deposit<br>
                - Final product Money Back Guarantee<br>
                - Copyright Ownership of 1 Design<br>
                <br>
                silver package: £45<br>
                - 6 different design choices<br>
                - Unlimited revisions<br>
                - £10 unrefundable deposit<br>
                - Final product Money Back Guarantee<br>
                - Copyright Ownership of 1 Design<br>
                <br>
                gold package: £60<br>
                - 10 different design choices<br>
                - Unlimited revisions<br>
                - £15 unrefundable deposit<br>
                - Final product Money Back Guarantee<br>
                - Copyright Ownership of 1 Design<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-12 bg-white h-100">
        <div class="row w-100">
            <div class="container py-5">

                <form method="GET" action="{% url 'quote-page2' %}" class="signup-form">
                
                <label for="service">Choose a service:</label>
                <select id="service" class="text-input" name="service" required>
                  <option value="print-publishing">Print & publishing designs</option>
                  <option value="website">Website design</option>
                  <option value="illustration">Illustration design</option>
                  <option value="full-package">Full package design</option>
                </select>

                <br><br>
                <label for="package">Choose a package:</label>
                <select id="package" class="text-input" name="package" required>
                  <option value="website">Bronze</option>
                  <option value="illustration">Silver</option>
                  <option value="full-package">Gold</option>
                </select>
                <br><br>
                <input class="btn btn-lg centered-button rounded-0" type="submit" value="Next">

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

{% endblock %}