<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="header-white font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="header-white font-weight-bold nav-link mr-5" href="{% url 'home' %}#about">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="header-white font-weight-bold nav-link mr-5" href="#" id="design-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="design-link">
                <a href="{% url 'print-publishing' %}" class="dropdown-item">Print & publishing designs</a>
                <a href="{% url 'website' %}" class="dropdown-item">Website design</a>
                <a href="{% url 'illustration' %}" class="dropdown-item">Illustration design</a>
                <a href="{% url 'full-package' %}" class="dropdown-item">Full package design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="header-white font-weight-bold nav-link mr-5" href="{% url 'portfolio' %}">
                Portfolio
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="header-white font-weight-bold nav-link mr-5" href="{% url 'home' %}#contact">
                Contact
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="header-white font-weight-bold nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My account<i class="fas fa-user fa-lg ml-3"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
