{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
    <div class="container mt-5 py-5">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-black">Get a quote</h1>
            <p class="fs-5 text-muted">Quickly find out the total cost of your project by filling the form below.</p>
        </div>

        <h2 class="display-6 text-center mb-4">Select a service</h2>

        <div class="row mb-3 text-center">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card mb-4 rounded-0 ">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Branding design</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><i class="fa-regular fa-address-card"></i></h1>
                        <div class="card-service">
                            Crafting a strong brand identity isn't easy! Designers have the important task of finding the perfect visual identity to represent a company or product.
                        </div>
                        <ul class="text-align-left mt-3 mb-4">
                            <li>Brochures</li>
                            <li>A5 flyers</li>
                            <li>T-shirts...</li>
                        </ul>
                        
                        <button type="button" service="branding" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card mb-4 rounded-0 ">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Website</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><i class="fa-sharp fa-solid fa-desktop"></i></h1>
                        <div class="card-service">
                            Web designers use their creative powers to make sure your digital experiences are seamless and enjoyable while tying in the client's unique branding.
                        </div>
                        <ul class="text-align-left mt-3 mb-4">
                            <li>Website</li>
                            <li>Blog</li>
                            <li>Online portfolio...</li>
                        </ul>

                        <button type="button" service="website" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card mb-4 rounded-0">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Illustration design</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><i class="fa-solid fa-book"></i></h1>
                        <div class="card-service">
                            Illustrations capture the attention of your target market with beautiful book and magazine covers, plus creative page layouts.
                        </div>
                        <ul class="text-align-left mt-3 mb-4">
                            <li>Album cover</li>
                            <li>Magazine images</li>
                            <li>Storybook...</li>
                        </ul>

                        <button type="button" service="illustration" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card mb-4 rounded-0">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Full-package</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><i class="fa-solid fa-laptop-file"></i></h1>
                        <div class="card-service">
                            Launching a business? This design package has it all - a one-of-a-kind website, plus a business logo, printed materials and packaging.
                        </div>
                        <ul class="text-align-left mt-3 mb-4">
                            <li>Website</li>
                            <li>Branding products</li>
                            <li>...and more!</li>
                        </ul>

                        <button type="button" service="fullpackage" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                    </div>
                </div>
            </div>

        </div>

        <div style="display:none" id="branding2">
            <div class="row mb-3">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">What do you need?</h4>
                            <h5 class="fs-5 text-muted">You may select more than one</h5>
                        </div>
                        <div class="card-body">
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Logo design</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Promotional design (for brochures, flyers, social media banners...)</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Stationary design (letterheads, business cards, envelopes...)</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Packaging design (shipping boxes, paper bags...)</span>
                            </label>
                            
                            <p class="fs-5 my-3 text-muted">If the product you're looking for is not here, <a href="{% url 'home' %}#contact">get in touch</a></p>

                            <button type="button" style="max-width:200px;" service="branding2" class="w-100 btn btn-lg btn-outline-black">Select this package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="website2">
            <div class="row mb-3">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">What do you need?</h4>
                            <h5 class="fs-5 text-muted">You may select more than one</h5>
                        </div>
                        <div class="card-body">
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Portfolio website</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Blog website</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Small business website</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>E-commerce website</span>
                            </label>
                            
                            <p class="fs-5 my-3 text-muted">If the product you're looking for is not here, <a href="{% url 'home' %}#contact">get in touch</a></p>

                            <button type="button" style="max-width:200px;" service="website2" class="w-100 btn btn-lg btn-outline-black">Select this package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="illustration2">
            <div class="row mb-3">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">What do you need?</h4>
                            <h5 class="fs-5 text-muted">You may select more than one</h5>
                        </div>
                        <div class="card-body">
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                graphs or other images in nonfiction books.
                                <span>Book or album cover</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Magazine/newspaper/blog article illustrations</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Nonfiction illustrations (graphs, instructions, pictograms...)</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Storybook/comic page</span>
                            </label>
                            
                            <p class="fs-5 my-3 text-muted">If the product you're looking for is not here, <a href="{% url 'home' %}#contact">get in touch</a></p>

                            <button type="button" style="max-width:200px;" service="illustration2" class="w-100 btn btn-lg btn-outline-black">Select this package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="fullpackage2">
            <div class="row mb-3">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">What do you need?</h4>
                            <h5 class="fs-5 text-muted">You may select more than one</h5>
                        </div>
                        <div class="card-body">
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Logo</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Branding designs for promotional use, stationary items and packaging</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Website</span>
                            </label>
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span>Illustration designs for articles, presentations, social media or other</span>
                            </label>
                            
                            <p class="fs-5 my-3 text-muted">If the product you're looking for is not here, <a href="{% url 'home' %}#contact">get in touch</a></p>

                            <button type="button" style="max-width:200px;" service="fullpackage2" class="w-100 btn btn-lg btn-outline-black">Select this package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 text-center">
            <div style="display:none" id="bronze">
                
                <div class="col">
                    <div class="card mb-4 rounded-0 ">

                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Bronze design</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><i class="fa-regular fa-address-card"></i></h1>
                            <div class="card-service">
                                Bronze
                            </div>
                            <ul class="text-align-left mt-3 mb-4">
                                <li>Bronze</li>
                            </ul>
                            
                            <button type="button" service="bronze" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                        </div>

                    </div>
                </div>
            </div>

            <div style="display:none" id="silver">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">

                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Silver design</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><i class="fa-regular fa-address-card"></i></h1>
                            <div class="card-service">
                                Silver
                            </div>
                            <ul class="text-align-left mt-3 mb-4">
                                <li>Silver</li>
                            </ul>
                            
                            <button type="button" service="silver" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                        </div>

                    </div>
                </div>
            </div>

            <div style="display:none" id="gold">
                <div class="col">
                    <div class="card mb-4 rounded-0 ">

                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Gold design</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><i class="fa-regular fa-address-card"></i></h1>
                            <div class="card-service">
                                Gold
                            </div>
                            <ul class="text-align-left mt-3 mb-4">
                                <li>Gold</li>
                            </ul>
                            
                            <button type="button" service="gold" class="div-link w-100 btn btn-lg btn-outline-black">Select this service</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="w-100 btn btn-lg btn-outline-black" onclick="document.getElementById('next3').style.display='inline'">Next</button>

        <div style="display:none" id="next3">

            <h2 class="display-6 text-center mb-4">Your quote is (quote total here)</h2>
            <h3 class="display-6 text-center mb-4">Would you like to continue?</h3>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary mb-3">Yes, continue to design details and deposit</button>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary mb-3">Not yet, save this quote and get in touch</button>
            <button type="button" value="Refresh" onClick="refresh(this)" class="w-100 btn btn-lg btn-outline-primary mb-3">No, start over</button>
        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}

{% endblock %}